body {
    margin: 0;
}

.background {
    background-color: black;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.centered {
    text-align: center;
}

div.header {
    padding-top: 8px;
    padding-bottom: 8px;

    background-color: #101010;
}

.logo {
    width: 80px;
    height: 80px;

    margin-left: 8px;
}
